:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  font-family: "Outfit", sans-serif;
}

main {
  background-color: var(--Light-gray);
  height: 100vh;
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 23px;
}

img {
  border-radius: 25px;
  max-width: 100%;
  height: 60%;
  margin-top: 10px;

}

.card {
  padding: 15px;
  max-width: 300px;
  border-radius: 25px;
  background-color: var(--White);
}

.card-content {
  width: 88%;
  margin: auto auto;
}

.card-content > p {
  color: var(--Light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
